#chat-log,#user-list,#room-list{
	overflow-y: scroll;
	background-color: #888888;
	min-height:200px;
	font-size: 1.02rem;
	line-height: 1.45;
}
.added_chat{
	display: flex;
	align-items: center;
}
.added_chat_name{
	font-size: 1em;
}
.link-userlist{
	display:block
}