{% extends "base.html" %}


{% block header %}
    <meta name="csrf-token" content = "{{csrf_token}}">
    {% load static %}
    <link rel="stylesheet" href = "{% static 'chat/css/lobby.css' %}">
    <script src="{% static 'chat/js/lobby.js' %}" type = "module"></script>
{% endblock %}


{% block body %}
    <section class="border-2 border-blue-500">
        <h2>部屋一覧</h2>
        <div id = "room-list"></div>
        <div class="flex gap-4">
            <button id="room-list-update" class="btn-primary">部屋更新</button>
            <button id="make-room-submit" class="btn-primary">新規作成</button>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <dialog id = "make-room-modal" >
            <p>部屋名を入力してね！</p>
            <form method="dialog" id = "make-room-form" class="flex flex-col gap-2">
                <div><input type="text" id = "room_name_input" autocomplete="off"></div>
                <div class="flex justify-end gap-2">
                <label>
                <input type="checkbox" id="notify_on_create" checked>
                この部屋の作成を通知する
                </label>
                <button value = "make-room-submit" form = "make-room-form" class="btn-primary">作成</button>
                <button value = "make-room-cancel" class="btn-primary">閉じる</button>
                </div>
            </form>
        </dialog>
    </section>

    {% include 'chat.html' %}
    {% include 'userlist.html' %}

{% endblock %}