{% extends "base.html" %}
	{% block header %}
    {% load static %}
    {{ VAPID_PUBLIC_KEY|json_script:"VAPID_PUBLIC_KEY" }}
    <script type="module">
        import { registerPush } from "{% static 'subscription.js' %}";
        const VAPID_PUBLIC_KEY = JSON.parse(document.getElementById("VAPID_PUBLIC_KEY").textContent)
        registerPush(VAPID_PUBLIC_KEY);
    </script>
	{% endblock %}
{% block body %}
{% if user.is_authenticated %}

<h2>Welcome {{ user.account_id }}</h2>
<hr>
<a href="{% url 'chat:lobby' %}">ロビーに行く</a>
<div>
<a href="{% url 'user_profile:user_top' user.id %}">Mypage</a>
</div>
{% if user.is_staff %}
	<br><a href="admin">管理画面</a>
	{% endif %}
	<form method = "post" action = "{% url 'accounts:logout' %}">
		{% csrf_token %}
		<button type="submit" class="btn-link">ログアウト</button>
	</form>
{% else %}
	<a href="{% url 'accounts:login' %}">ログイン</a>
	<a href="{% url 'accounts:signup' %}">アカウント作成</a>
{% endif %}

{% endblock %}