{% extends "base.html" %}
{% load socialaccount %}

{% block body %}
<h2>ログイン</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
		<div class="flex gap-3">
			{% if field.help_text %}
				<div title="{{ field.help_text }}">
					{{field.label_tag }}
					{{field}}
				</div>
			{% else %}
				{{ field.label_tag }}
				{{ field }}
			{% endif %}
			{{ field.errors }}
		</div>
	{% endfor %}
    <div class="flex gap-3">
		<button type="submit" class="btn-primary">ログイン</button>
		<a href="{% url 'accounts:index' %}" class="btn-link">戻る</a>
    </div>
</form>

<div class="mt-4">
	<a href="{% provider_login_url 'google' %}" class="btn-link">Googleでログイン</a>
</div>


{% endblock %}