{% extends "base.html" %}
    {% block header %}
    {% load static %}
    {{ VAPID_PUBLIC_KEY|json_script:"VAPID_PUBLIC_KEY" }}
    {% endblock %}
    {% block body %}
<h1>{{ user.account_id }}</h1>
<h2>
</h2>
{% if is_owner %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <hr>
    <h3>通知設定</h3>
    {{ user_form.as_p}}
    <button type="submit" class="btn-primary">保存</button>
</form>
{% else %}
    <p>このプロフィールは編集できません。</p>
{% endif %}

<script type="module">
    import { registerPush } from "{% static 'subscription.js' %}"
    const VAPID_PUBLIC_KEY = JSON.parse(document.getElementById("VAPID_PUBLIC_KEY").textContent)
    document.addEventListener("DOMContentLoaded", () => {
        const checkbox = document.getElementById("id_notify_room_create");
        if (!checkbox) return;

        checkbox.addEventListener("change", async () => {

            if (!checkbox.checked) return;

            if (Notification.permission === "default") {
                const result = await Notification.requestPermission();
                if (result !== "granted") {
                    checkbox.checked = false;
                    return;
                }
            }
            await registerPush(VAPID_PUBLIC_KEY);
        });
    });
</script>
{% endblock %}