<!DOCTYPE html>
<html lang="ja">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content = "{{csrf_token}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/emoji-button/dist/index.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="{% static 'base.css'%}">
	<title>囲碁検討室</title>

	<link rel="manifest" href="{% static 'manifest.json' %}">
	<meta name="theme-color" content="#092E20">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="{% static 'icons/icon-192.png' %}">
	{% block header %}
	{% endblock %}
</head>
<body class="min-h-screen">
	<main>
    <div class="site-shell flex justify-start md:justify-center py-10">
        <div class="site-frame bg-white shadow-xl p-8 rounded-lg max-w-4xl w-full mx-4">
            <h1 class="title site-title text-center text-3xl font-bold mb-6">
                囲碁検討室
            </h1>
			
			<div class="container site-content">
				{% block body %}
				{% endblock %}
			</div>
			<div class = "footer site-footer">
				<hr>
				<a href = "{% url 'accounts:index' %} ">topに戻る</a>
			</div>
		</div>
	</div>
	<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js')
		.then(reg => console.log('SW registered'))
		.catch(err => console.error('SW error', err));
	}
	</script>
	</main>
</body>
</html>